*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: gainsboro;
    font-family: 'Roboto', sans-serif;
}
.form{

    background-color: white;
    height: 500px;
    width: 500px;
    margin-left: 353px;
    margin-top: 135px;
    border: 1px solid gray;
    border-radius: 21px;
    box-shadow:  -1px 1px #77aaff,
         -2px 2px #77aaff,
         -3px 3px #77aaff,
         -4px 4px #77aaff,
         -5px 5px #77aaff;

}

.emailSpan{
    color: red;
}

.pwSpan{
    color: red;
}

.permSpan{
    color: red;
}

.email-class{
    margin: 5px;
    margin-left: 60px;
}
.allWarningSpan{
    color: red;
}
.email{
    height: 35px;
    width: 360px;
    border: 1px solid lightblue;
    border-radius: 5px;
}
.pw-class{
    margin: 5px;
    margin-left: 60px;
    
}

.pw{
    height: 35px;
    width: 360px;
    border: 1px solid lightblue; 
    border-radius: 5px;
}

.gender-class{
    margin: 5px;
    margin-left: 60px;
}

#gender{
    margin-left: 15px;
    height: 35px;
    width: 115px;
    border: 1px solid gray;
    border-radius: 8px;
}

.role{
    margin: 5px;
    margin-left: 60px;
}

.inner-role{
    margin-left: 26px;
}

#admin{
    margin-left: 8px;
}

.permission{
    margin: 5px;
    margin-left: 60px;
}
.inner-permission{
    margin-left: 33px;
}

.submit{
    margin: 10px;
    margin-left: 62px;
    height: 42px;
    width: 100px;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 31px;
}
button:hover{
    background-color: lightblue;
}